.base-style
  (@baseBgColor: #f5ecd7,
@baseContentBgColor: #ebe2cd,
@baseContentBgDarkColor: #c2baa6,
@baseTextColor: #5f5f5f,
@baseTextDarkColor: #353535,
@baseColorA: #833500,
@baseColorB: #f18f01,
@baseColorC: #24613b,
@baseColorD: #68a67d,
@baseColorE: #8fbf9f
) {
  #app {
    background-color: @baseBgColor;
    box-sizing: border-box;
    overflow: hidden;
  }
  .SideBar {
    background-color: @baseContentBgDarkColor;
  }
  .tips {
    color: @baseTextColor;
  }
  .des {
    color: @baseColorA;
  }
  .circle-des {
    &::before {
      display: inline-block;
      content: '';
      vertical-align: middle;
      width: 6px;
      height: 6px;
      margin-right: 12px;
      border-radius: 50%;
      background-color: @baseColorD;
    }
  }
  .line-des {
    border-left: 4px solid @baseColorD;
    padding-left: 4px;
  }
  .text {
    color: @baseTextDarkColor;
  }
  .baseContentBg {
    background-color: @baseContentBgColor;
  }
  .activeBaseContentBg {
    background-color: @baseColorE;
  }
  .activeText {
    color: @baseColorD;
  }
  .bd-b {
    border-bottom: 1px solid @baseTextColor;
  }
  .bd-shadow {
    box-shadow: 0 2px 4px @baseTextColor;
  }
  .bdb-shadow {
    border-bottom: 1px solid @baseTextColor;
    opacity: 0.5;
    // box-shadow: 0px 2px 2px 0px @baseTextColor;
  }
  .ellipsis {
    overflow: hidden; //超出的文本隐藏
    text-overflow: ellipsis; //溢出用省略号显示
    white-space: nowrap; // 默认不换行；
  }
  // 超出展示两行
  .ellipsis-2line {
    overflow: hidden; //超出的文本隐藏
    display: -webkit-box;
    -webkit-line-clamp: 2; // 超出多少行
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  .ellipsis-3line {
    overflow: hidden; //超出的文本隐藏
    display: -webkit-box;
    -webkit-line-clamp: 3; // 超出多少行
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
  .flex-s {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ArticleContent {
    color: @baseTextColor;
  }
  .fold {
    display: none;
  }
  .code-icon {
    cursor: pointer;
  }
  .cursor-p {
    cursor: pointer;
  }
  .copy-code-node {
    cursor: pointer;
  }
  .title {
    font-size: 34px;
    font-weight: 900;
    color: @baseColorB;
  }
  .content-title {
    font-size: 26px;
    font-weight: 900;
    color: @baseColorC;
  }
  .bg-box {
    box-sizing: border-box;
    color: @baseTextDarkColor;
    font-size: 13px;
    background: @baseContentBgDarkColor;
    padding: 8px 16px;
    border-radius: 4px;
    overflow: hidden;
  }
  .hljs {
    box-sizing: border-box;
    color: @baseTextDarkColor;
    font-size: 13px;
    background: @baseContentBgDarkColor;
    padding: 16px;
    border-radius: 4px;
    overflow: hidden;
    overflow-x: scroll;
  }
  .code-header-handle {
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hljs code {
    line-height: 1.5;
    box-sizing: border-box;
    font-family: SourceCodePro;
    /*font-family: "JetBrainsMono";*/
  }

  .hljs-comment,
  .hljs-quote {
    color: #848c9b;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-formula,
  .hljs-keyword {
    color: #c678dd;
  }

  .hljs-deletion,
  .hljs-name,
  .hljs-section,
  .hljs-selector-tag,
  .hljs-subst {
    color: #e06c75;
  }

  .hljs-literal {
    color: #56b6c2;
  }

  .hljs-addition,
  .hljs-attribute,
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #68a67d;
  }

  .hljs-attr,
  .hljs-number,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-pseudo,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable {
    color: #5d2c0b;
  }

  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-symbol,
  .hljs-title {
    color: #61aeee;
  }

  .hljs-built_in,
  .hljs-class .hljs-title,
  .hljs-title.class_ {
    color: #f18f01;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }

  .hljs-link {
    text-decoration: underline;
  }
}
