.m(@num) {
  margin: @num;
}
.my(@num) {
  margin: @num 0;
}
.mr(@num) {
  margin-right: @num;
}
.ml(@num) {
  margin-right: @num;
}
.mr-16 {
  .mr(16px);
}
.m-16 {
  .m(16px);
}
.my-16 {
  .my(16px);
}
