{
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "vueSortAttributes": true
      }
    }
  ]
}
